<header class="header">
    <div class="header__logo-container">
        <h1 class="header__logo-container_logo">Palo Alto</h1>
    </div>
    <div class="menu">
        <a href="home.html" class="menu__home">HOME</a>
        <a href="profile-form.html" class="menu__profile">PROFILE</a>
        <a href="https://www.google.com/" class="menu__search"></a>
    </div>
</header>