<header class="header">
    <div class="header__logo-container">
        <h1 class="header__logo-container_logo">Palo Alto</h1>
    </div>
    <div class="header__menu">
        <a href="home.html" class="header__menu_home">HOME</a>
        <a href="profile-form.html" class="header__menu_profile">PROFILE</a>
        <span class="header__menu_search"></span>
    </div>
</header>