.header {
    margin:auto;
    margin-top: 77px;
    margin-bottom: 78px;
    max-width: 952px;
    &__logo-container {
        display: inline-block;
        &_logo {
            font-size: 42px;
            font-weight: 700;
            font-family: Lato-Italic;
            margin:0;
        }
    }
}

.menu {
    display: inline-block;
    float: right;
    margin-top: 12px;
    line-height: 25px;

    &__home {
        font-size: 16px;
        color: rgb(189,189,189);
        font-family: "Lato-Bold";
        font-weight: bold;
        text-align: right;

        &:link {
            color: #333333;
            text-decoration: none;
        }
        &:visited {
            color: #333333;
        }
    }
    &__profile {
        font-size: 16px;
        font-family: "Lato-Bold";
        font-weight: 700;
        text-align: right;
        margin-left: 17px;
        line-height: 25px;

        &:link {
            color: #333333;
            text-decoration: none;
        }
        &:visited {
            color: #333333;
        }
    }
    &__search {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-left: 33px;
        background-image: url("images/search.png");
        background-repeat: no-repeat;
        background-position:  right;
    }
}


@media only screen and (min-device-pixel-ratio: 1.5) {
    .menu {
        &__search {
            background-image: url("images/search@2x.png");
        }
    }
}


@media screen and (max-width: 1000px) {
    .header {
        max-width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 276px;
        margin-top: 38px;
    }

    .menu {
        display: block;
        float: left;
        margin-bottom: 63px;
    }
}