<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../styles/style.css">
		<title>palo alto</title>
	</head>
	<body>
		<header>
			<h1 class="header">Palo Alto</h1>
		</header>
		<main class="tile">
			<form>
				<p class="profile-text">Profile</p>
				<section class="fname-form">
					<label for="fname">First Name</label><br>
					<div class="square-1">
						<input id ="fname" type="text" name="fname" class="fname-input">
					</div>
				</section>
				<section class="lname-form">
					<label for="lname">Last Name</label><br>
					<div class="square-1">
						<input id ="lname" type="text" name="lname" class="lname-input">
					</div>
				</section>
				<section class="email-form">
					<label for="email">E-mail</label><br>
					<div class="square-1">
						<input id ="email" type="text" name="email" class="email-input">
					</div>
				</section>
				<section class="phone-form">
					<label for="phone">Phone</label><br>
					<div class="square-1">
						<input id ="phone" type="text" name="phone" class="phone-input" placeholder="+_(___)___-__-__">
					</div>
				</section>
				<section class="dob-form">
					<label for="dob">Date of Birth</label><br>
					<div class="square-1">
						<input id ="dob" type="text" name="dob" class="dob-input" placeholder="DD/MM/YYYY">
					</div>
				</section>
				<section class="sex-form">
					<label>Sex</label><br>
					<div>
						<input id ="male" type="radio" name="sex" value="male" class="sex-input"><label for="male" class="sex-form_text">Male</label><br>
						<input id ="female" type="radio" name="sex" value="female" class="sex-input"><label for="female" class="sex-form_text">Female</label>
					</div>
				</section>
				<section class="button-submit">
					<div>
						<button id="submit" type="submit" name="submit" class="button-submit_button"><span class="button-submit_text">SUBMIT</span></button>
					</div>
				</section>
			</form>
		</main>
		
		<footer>
			<div class="footer__Palo-Alto">Palo Alto</div>
		</footer>
	</body>
</html>