{% extends "layout.html" %}

{% block main %}
        <main class="tile">
            <h2 class="tile__title">Profile</h2>
            <form id="registration-form" class="registration-form">
                <div class="registration-form__fname">
                    <label for="fname">First Name</label>
                    <div class="background-square">
                        <input id ="fname" type="text" name="fname" class="registration-form__fname_input registration-form__text-input">
                    </div>
                </div>
                <div class="registration-form__lname">
                    <label for="lname">Last Name</label>
                    <div class="background-square">
                        <input id ="lname" type="text" name="lname" class="registration-form__lname_input registration-form__text-input">
                    </div>
                </div>
                <div class="registration-form__email">
                    <label for="email">E-mail</label>
                    <div class="background-square">
                        <input id ="email" type="text" name="email" class="registration-form__email_input registration-form__text-input">
                    </div>
                </div>
                <div class="registration-form__phone">
                    <label for="phone">Phone</label>
                    <div class="background-square">
                        <input id ="phone" type="text" name="phone" class="registration-form__phone_input registration-form__text-input" placeholder="+_(___)___-__-__">
                    </div>
                </div>
                <div class="registration-form__dob">
                    <label for="dob">Date of Birth</label>
                    <div class="background-square">
                        <input id ="dob" type="text" name="dob" class="registration-form__dob_input registration-form__text-input" placeholder="DD/MM/YYYY">
                    </div>
                </div>
                <div class="registration-form__sex">
                    <label>Sex</label>
                    <div>
                        <input id ="male" type="radio" name="sex" value="male" class="registration-form__sex_input"><label for="male" class="registration-form__sex_label">Male</label><br>
                        <input id ="female" type="radio" name="sex" value="female" class="registration-form__sex_input"><label for="female" class="registration-form__sex_label">Female</label>
                    </div>
                </div>
            </form>
            <form>
                <div>
                    <button id="submit" type="submit" name="submit" class="button-submit" form="registration-form"><span class="button-submit__text">SUBMIT</span></button>
                </div>
            </form>
        </main>
{% endblock %}
