{% extends "layout.html" %}

{% block main %}
		<main class="tile">
			<form>
				<p class="profile-text">Profile</p>
				<section class="fname-form">
					<label for="fname">First Name</label><br>
					<div class="square-1">
						<input id ="fname" type="text" name="fname" class="fname-form__input">
					</div>
				</section>
				<section class="lname-form">
					<label for="lname">Last Name</label><br>
					<div class="square-1">
						<input id ="lname" type="text" name="lname" class="lname-form__input">
					</div>
				</section>
				<section class="email-form">
					<label for="email">E-mail</label><br>
					<div class="square-1">
						<input id ="email" type="text" name="email" class="email-form__input">
					</div>
				</section>
				<section class="phone-form">
					<label for="phone">Phone</label><br>
					<div class="square-1">
						<input id ="phone" type="text" name="phone" class="phone-form__input" placeholder="+_(___)___-__-__">
					</div>
				</section>
				<section class="dob-form">
					<label for="dob">Date of Birth</label><br>
					<div class="square-1">
						<input id ="dob" type="text" name="dob" class="dob-form__input" placeholder="DD/MM/YYYY">
					</div>
				</section>
				<section class="sex-form">
					<label>Sex</label><br>
					<div>
						<input id ="male" type="radio" name="sex" value="male" class="sex-form__input"><label for="male" class="sex-form_text">Male</label><br>
						<input id ="female" type="radio" name="sex" value="female" class="sex-form__input"><label for="female" class="sex-form_text">Female</label>
					</div>
				</section>
				<section class="button-submit">
					<div>
						<button id="submit" type="submit" name="submit" class="button-submit__button"><span class="button-submit__text">SUBMIT</span></button>
					</div>
				</section>
			</form>
		</main>
{% endblock %}