footer {
    margin-top: 105px;
    height: 160px;
    background-color: #5b6bbf;
}

.footer__Palo-Alto {
    margin-left: 633px;
    padding-top: 65px;
    font-family: Lato-BoldItalic;
    font-size: 36px;
    color: rgba(0,0,0,0.2)

}