@font-face {
    font-family: Lato-Bold; /* Имя шрифта */
    src: url(../fonts/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
    font-family: Lato-BoldItalic; /* Имя шрифта */
    src: url(../fonts/Lato-BoldItalic.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
    font-family: Lato-Regular; /* Имя шрифта */
    src: url(../fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
 }
body {
    max-width: 1400px; /* Максимальная ширина страницы в пикселах */
    margin: auto;
    
}

.header {
	max-height: 113px;
	max-width: 736px;
	font-size: 42px;
	font-weight: bold;
	font-family: Lato-BoldItalic;
	margin: 76px 0 0 224px;
	
}
.tile {
	margin: 74px 0 0 224px;
	width: 952px;
	height: 1017px;
	box-shadow: 0 0 25px rgba(0,0,0,0.1);
	background-color: #ffffff;
	border: 1px;
}

.profile-text {
	padding: 80px 0 0 98px;
	font-size: 40px;
	color: rgb(51,51,51);
	font-family: "Lato-Bold";
	font-weight: bold;
}

.fname-form {
	font-size: 20px;
	color: rgb(0,0,0);
	font-family: "Lato-Regular";
	margin-left: 294px;

}

.fname-input {
	padding-left: 31px;
	font-size: 20px;
	border-width: 0px;
	width: 364px;
	height: 56px;
	background-color: #f7f9fb;
	outline: none;
}

.fname-input:focus {
	border: 2px solid #5b6bbf;
}

.square-1 {
	margin-top: 12px;
	width: 364px;
	height: 56px;
	background-color: #f7f9fb;
}
.lname-form {
	font-size: 20px;
	color: rgb(0,0,0);
	font-family: "Lato-Regular";
	margin-left: 294px;
	margin-top: 29px;

}

.lname-input {
	padding-left: 31px;
	font-size: 20px;
	border-width: 0px;
	width: 364px;
	height: 56px;
	background-color: #f7f9fb;
	outline: none;
}

.lname-input:focus {
	border: 2px solid #5b6bbf;
}

.email-form {
	font-size: 20px;
	color: rgb(0,0,0);
	font-family: "Lato-Regular";
	margin-left: 294px;
	margin-top: 29px;

}

.email-input {
	padding-left: 31px;
	font-size: 20px;
	border-width: 0px;
	width: 364px;
	height: 56px;
	background-color: #f7f9fb;
	outline: none;
}

.email-input:focus {
	border: 2px solid #5b6bbf;
}

.phone-form {
	font-size: 20px;
	color: rgb(0,0,0);
	font-family: "Lato-Regular";
	margin-left: 294px;
	margin-top: 29px;

}

.phone-input {
	color: #bcbdbf;
	padding-left: 31px;
	font-size: 20px;
	border: 2px solid white;
	width: 364px;
	height: 56px;
	background-color: #f7f9fb;
	outline: none;
}

.phone-input:focus {
	border: 2px solid #5b6bbf;
}

.dob-form {
	font-size: 20px;
	color: rgb(0,0,0);
	font-family: "Lato-Regular";
	margin-left: 294px;
	margin-top: 29px;

}

.dob-input {
	padding-left: 31px;
	font-size: 20px;
	border: 2px solid white;
	width: 364px;
	height: 56px;
	background-color: #f7f9fb;
	outline: none;
	background-image: url(../images/dob_icon.png);
	background-repeat: no-repeat;
	background-position: center right 17px;
}

.dob-input:focus {
	border: 2px solid #5b6bbf;
}

.sex-form {
	font-size: 20px;
	color: rgb(0,0,0);
	font-family: "Lato-Regular";
	margin-left: 294px;
	margin-top: 29px;
}

.sex-input {
	padding-left: 31px;
	margin-top: 20px;
    display: none;
}


.sex-input + label {
        background: url("../images/radio-unchecked.png") no-repeat scroll 0 0;
        background-position: center left;
        cursor: pointer;
        padding-left: 25px;
}

.sex-input:checked + label {
        background: url("../images/radio-checked.png") no-repeat scroll 0 0;
        background-position: center left;
}

.sex-form_text {
	margin-left: 6px;
}


.button-submit {
	margin-left: 330px;
	margin-top: 60px;
}

.button-submit_text {
	font-size: 24px;
	color: rgb(92,107,192);
	font-family: "Lato-Bold";
	font-weight: bold;
}

.button-submit_button {
	border: 1px solid white;
	background-color: white;
}

.button-submit_button:hover {
	border: 1px solid rgba(238,238,238,0.8);
}

.button-submit_button:focus {
	border: 1px solid rgba(92,107,192,0.8);
}
footer {
	margin-top: 105px;
	width: 1400px;
	height: 160px;
	background-color: #5b6bbf;
}

.footer__Palo-Alto {
	margin-left: 633px;
	padding-top: 65px;
	font-family: Lato-BoldItalic;
	font-size: 36px;
	color: rgba(0,0,0,0.2)

}