$border-color: #5b6bbf;
$top-margin: 15px;

.divider {
    background-color: #eee;
    height: 2px;
    max-width: 757px;
    margin: 42px 0 42px 0;
}

.tile {
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 50px;
    max-width: 952px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border: 1px;
    padding: 58px 0 80px 98px;
    &__title {
        font-size: 40px;
        color: rgb(0,0,0);
        font-family: "Lato-Regular";
        font-weight: 700;
        max-width: 730px;
        margin-top: 0;
        line-height: 50px;
    }
    
}

.profile-form {
    font-size: 20px;
    color: rgb(0,0,0);
    font-family: "Lato-Regular";
    margin-left: 196px;

    &__text-input {

        padding-left: 31px;
        font-size: 20px;
        border: 2px solid white;
        width: 364px;
        height: 56px;
        background-color: #f7f9fc;
        outline: none;
    }

    &__text-input:focus {
        border: 2px solid $border-color;
    }
    &__lname {
        margin-top: $top-margin;
    }

    &__email {
        margin-top: $top-margin;
    }

    &__phone {
        margin-top: $top-margin;
    }

    &__dob {
        margin-top: $top-margin;
        &_input {
            background-image: url(./images/dob_icon.png);
            background-repeat: no-repeat;
            background-position: center right 17px;
        }
    }

    &__sex {
        margin-top: $top-margin;
        &_input {
            padding-left: 31px;
            margin-top: 20px;
            display: none;
        }
        &_input + label {
            background: url("./images/radio-unchecked.png") no-repeat scroll 0 0;
            background-position: center left;
            padding-left: 25px;
        }
        &_input:checked + label {
            background: url("./images/radio-checked.png") no-repeat scroll 0 0;
            background-position: center left;
        }
        &_label {
            margin-left: 6px;
        }
    }
}


.button-submit {
    border: 1px solid white;
    background-color: white;
    margin-left: 232px;
    margin-top: 60px;
    &__text {
        font-size: 24px;
        color: rgb(92,107,192);
        font-family: "Lato-Bold";
        font-weight: bold;
    }
    &__container {
    }
}


.button-submit:hover {
    background-color: rgba(46,151,222,0);
    border: 1px solid rgba(238,238,238,0.8);
}

.button-submit:focus {
    background-color: rgba(46,151,222,0);
    border: 1px solid rgba(92,107,192,0.8);
}


@media only screen and (min-device-pixel-ratio: 1.5) {
    .profile-form {
        &__sex {
            &_input + label {
                background: url("./images/radio-unchecked@2x.png") no-repeat scroll 0 0;
            }
            &_input:checked + label {
                background: url("./images/radio-checked@2x.png") no-repeat scroll 0 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .divider {
        max-width: 688px;
    }
    .tile {
        padding-left: 40px;
        max-width: 768px;
        &__title {
            font-size: 33px;
            line-height: 34px;
            font-family: "Lato-Regular";
            max-width:688px;
        }
    }

    .profile-form {
        margin-left: 100px;
    }
    .button-submit {
        margin-left: 132px;
    }
}

@media screen and (max-width: 767px) {
    .divider {
        margin: 39px 0 39px 0;
    }
    .tile {
        max-width: 280px;
        padding: 39px 27px 26px 25px;
        margin-bottom: 20px;
        &__title {
            font-size: 24px;
            line-height: 32px;
            font-family: "Lato-Regular";
            max-width:217px;
        }
    }
    .profile-form {
        margin-left: 0;
        &__text-input {
        padding-left: 31px;
        font-size: 20px;
        width: 200px;
        height: 56px;
    }
    }
    .button-submit {
        margin-left: 50px;
        margin-top: 30px;
    }
}