<footer class="footer">
    <div class="footer__Palo-Alto">Palo Alto</div>
    <div class="menu menu_footer">
        <a href="home.html" class="menu__home menu_footer__home">HOME</a>
        <a href="profile-form.html" class="menu__profile menu_footer__profile">PROFILE</a>
        <span class="menu__search menu_footer__search"></span>
    </div>
    <div class="footer__copyright">&copy; 2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by
        <span class="footer__copyright_developers">PixelBuddha Team</span>
    </div>
    <div class="footer__social">
        <a href="https://www.facebook.com/" class="footer__icon footer__icon_facebook"></a>
        <a href="https://www.twitter.com/" class="footer__icon footer__icon_twitter"></a>
        <a href="https://www.instagram.com/" class="footer__icon footer__icon_instagram"></a>
        <a href="https://www.pinterest.com/" class="footer__icon footer__icon_pinterest"></a>
    </div>
</footer>