<footer class="footer">
    <div class="footer__Palo-Alto">Palo Alto</div>
    <div class="footer__menu">
        <a href="home.html" class="footer__menu_home">HOME</a>
        <a href="profile-form.html" class="footer__menu_profile">PROFILE</a>
        <span class="footer__menu_search"><img srcset="images/search_white.png 1x, images/search_white@2x.png 2x"></span>
    </div>
    <div class="footer__copyright">&copy; 2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by
        <span class="footer__copyright_developers">PixelBuddha Team</span>
    </div>
    <div class="footer__social">
        <a href="https://www.facebook.com/" class="footer__icon footer__icon_facebook"></a>
        <a href="https://www.twitter.com/" class="footer__icon footer__icon_twitter"></a>
        <a href="https://www.instagram.com/" class="footer__icon footer__icon_instagram"></a>
        <a href="https://www.pinterest.com/" class="footer__icon footer__icon_pinterest"></a>
    </div>
</footer>