$footer__menu_color: white;

.footer {
    margin-top: 105px;
    padding-top: 65px;
    background-color: #5b6bbf;
    text-align: center;
    &__Palo-Alto {

        text-align: center;
        font-family: Lato-BoldItalic;
        font-size: 36px;
        color: rgba(0,0,0,0.2)
    }

    &__copyright {
        margin-top: 68px;
        text-align: center;
        font-size: 14px;
        font-family: "Lato-Bold";
        color: rgba(255,255,255, 0.3);
        line-height: 30px;
        &_developers {
            color: $footer__menu_color;
        }

    }

    &__social {
        text-align: center;
        margin-top: 37px;
        padding-bottom: 70px;
    }
    &__icon {
        &_facebook {
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url("images/social.png");
            background-position: 0 0;
        }
        &_twitter {
            margin-left: 23px;
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url("images/social.png");
            background-position: -22px 0;
        }
        &_instagram {
            margin-left: 23px;
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url("images/social.png");
            background-position: -44px 0;
        }
        &_pinterest {
            margin-left: 23px;
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url("images/social.png");
            background-position: -66px 0;
        }
    }
}


.menu_footer {
    margin-top: 62px;
    float: none;
    &__home {
        font-size: 17px;
        line-height: 25px;
        &:link {
            color: $footer__menu_color;
        }
        &:visited {
            color: $footer__menu_color;
        }
    }
    &__profile {
        margin-left: 42px;
        line-height: 25px;
        &:link {
            color: $footer__menu_color;
        }
        &:visited {
            color: $footer__menu_color;
        }
    }
    &__search {
        margin-left: 58px;
        width: 16px;
        height: 16px;
        background: url("images/search_white.png") no-repeat right center;
    }
}


@media only screen and (min-device-pixel-ratio: 1.5) {

    .menu_footer {
        &__search {
            background-image: url("images/search_white@2x.png");
        }
    }
    .footer {
        &__icon {
            &_facebook {
                background-image: url("images/social@2x.png");
                background-position: 0 0;
            }
            &_twitter {
                background-image: url("images/social@2x.png");
                background-position: -44px 0;
            }
            &_instagram {
                background-image: url("images/social@2x.png");
                background-position: -88px 0;
            }
            &_pinterest {
                background-image: url("images/social@2x.png");
                background-position: -132px 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        margin-top: 40px;
        padding-top: 40px;
        &__copyright {
            margin-top: 40px;

        }
        
        &__social {
            padding-bottom: 40px;
        }
    }

    .menu_footer {
        margin-top: 38px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin-top: 54px;
        &__copyright {
            max-width: 242px;
            line-height: 23px;
            text-align: center;
            margin: auto;
            margin-top: 62px;
            &_developers {
                display: block;

                color: $footer__menu_color;
            }

        }
        
        &__social {
            margin-top: 49px;
        }
    }

    .menu_footer {
        &__home {
            display: block;
            font-size: 16px;
            text-align: center;
        }
        &__profile {
            display: block;
            font-size: 16px;
            text-align: center;
            margin-top: 23px;
            padding: 0;
            margin-left: 0;
        }
        &__search {
            display: block;
            width: 0;
            height: 0;
            background:none;
        }
    }
}