<div class="sidebar">
    <div class="menu sidebar__menu">
        <input class="profile-form__text-input sidebar__menu_search-input" placeholder="SEARCH"></input>
        <span class="menu__search sidebar__menu_search"></span>
        <div class="divider sidebar__menu_divider"></div>
        <a href="home.html" class="menu__home sidebar__menu_home sidebar__menu_links">HOME</a>
        <a href="profile-form.html" class="menu__profile sidebar__menu_profile sidebar__menu_links">PROFILE</a>
    </div>
    <div class="sidebar__logo">Palo Alto</div>
    <div class="footer__copyright_developers sidebar__developers">Designed &amp; Developed by
        <span>PixelBuddha Team</span>
    </div>
</div>